addons/
avatar/
builder/
default_images/
emoticon/
emoticon_icon/
gift/
room_icon/
cover/
system/database.php
system/config.php
system/variables.php
system/variable.php
system/settings.php
upload/
updates/
system/settings.php
system/settings.php
